<link rel="import"
  href="/components/polymer/polymer.html">
<link rel="import"
  href="/components/core-icon-button/core-icon-button.html">
<polymer-element name="ats-card" attributes="name items">
	
<template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-header {
      margin-bottom: 10px;
    }
    polyfill-next-selector { content: '.card-header h2'; }
    .card-header ::content h2 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header img'; }
    .card-header ::content img {
      width: 70px;
      border-radius: 50%;
      margin: 10px;
    }
    </style>
    <div class="card-header" layout horizontal center>
    	{{name}}
      <content select="img"></content>
      <content select="h2"></content>
    </div>
    <content></content>
    <template attributes="items" bind="{{items}}">
	    // {{length}} evaluates as items.length
	    <p>Item count: {{length}}</p>
	    <ul>
	    <template repeat>
	      // {{name}} here evaluates as the name of a single item
	      <li>{{name}}</li>
	    </template>
	    </ul>
	  </template>
  </template>
  <script>
  Polymer('ats-card', {
  		ready: function(){
  			this.items = [{name: 'alvaro'}, {name:'tigre'}, {name:'mary'}]
  		}
  });
  </script>
</polymer-element>